@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    background: #202024;
    font-family: 'Roboto', sans-serif;
    
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus{
    outline: none;

}

div.header{
    display: flex;
    background: #121214;
    height: 200px;

}

h1.DTMoney{
    flex: 20px;
    color: rgb(255, 255, 255);
    margin-left: 100px;
    margin-top: 34px;
}

.BotaoNovaTransacao{
    color: white;
    background: #00875f;
    height: 50px;
    width: 150px;
    margin-top: 34px;
    margin-bottom: 34px;
    border-radius: 6px;
    border-style: none;
    margin-right: 100px;
    font-weight: 600;
    font-size: 15px;
    justify-content: center;
    align-items:center ;
    

}

.BotaoNovaTransacao:hover{
    background: #00b37e;
    cursor: pointer;
}

.movimentacoes{
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    position: relative;
    top: -75px;
    
    
    
    
    
}


.entradas{
    border-radius: 8px;
    width: 32%;
    text-align: center;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
    height: 134px;
    background: #323238;
    
  
}


.entradas h2{
    font-size: 15px;
    color: #C4C4CC;
    margin-bottom: 20px;
    text-align: initial;
    margin-left: 2px;
    font-weight: 400;
    position: relative;
    top: 28px;
    left: 25px;
    
}

.icon{
    height: 25px;
    position: relative;
    bottom: 10px;
    left: 125px;
    color: #00b37e;
}

.entradas p{
    font-size: 2rem;
    font-weight: bold;
    color: #e1e1e6;
    position: relative;
    top: 2px;
    right: 53px;
    
}

.saidas{
    border-radius: 8px;
    width: 32%;
    text-align: center;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
    background: #323238;
}


.saidas h2{
    font-size: 15px;
    color: #C4C4CC;
    margin-bottom: 20px;
    text-align: initial;
    margin-left: 2px;
    font-weight: 400;
    position: relative;
    top: 28px;
    left: 25px;
    
    
}

.iconSaida{
    height: 25px;
    position: relative;
    bottom: 10px;
    left: 125px;
    color: #f75a68;
}

.saidas p{
    font-size: 2rem;
    font-weight: bold;
    color: #e1e1e6;
    margin: 0;
    position: relative;
    top: 2px;
    right: 53px;
    
}

.total{
    border-radius: 8px;
    width: 32%;
    text-align: center;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
    background:#015F43;
}


.total h2{
    font-size: 15px;
    color: #C4C4CC;
    margin-bottom: 20px;
    text-align: initial;
    margin-left: 2px;
    font-weight: 400;
    position: relative;
    top: 28px;
    left: 25px;
    
    
}

.iconTotal{
    height: 25px;
    position: relative;
    bottom: 10px;
    left: 125px;
    color: #ffffff;
}

.total p{
    font-size: 2rem;
    font-weight: bold;
    color: #e1e1e6;
    margin: 0;
    position: relative;
    top: 2px;
    right: 53px;
    
}


form{
    
    display: flex;
    height: 55px;
    width: 84%;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: -20px;
    
}
input{
    display: flex;
    font-size: 15px;
    width: 100%;
    background: #121214;
    padding-left: 17px;
    border: none;
    border-style: none;
    border-radius: 5px;
}

.botaoBuscarTransacao{
    display:flex;
    margin: auto;
    font-weight: bold;
    font-size: 15px;
    border-color: #00b37e;
    border-width: 1px;
    border-style: solid;
    background: #202024;
    color: #00b37e;
    border-radius: 5px;
    margin-left: 10px;
    padding:18px 40px ;
    text-align:center;
    justify-content: center;
    gap: 10px;
  
}

.botaoBuscarTransacao:hover{
    background: #00b37e;
    color: #ffffff;
}



table{
    
    display:inline-flexbox;
    margin: auto;
    margin-top: 20px;
    height:90%;
    width: 1065px;
    border-radius: 7px;
    
    
}

tr{
    background: #29292e;
    color: #C4C4CC;
    display:flex;
    padding:25px 43px;
    padding-left: 20px;
    justify-content: space-between;
    margin-bottom: 7px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
}

td.causaTransacao{
    
}

td.valorTransacaoEntrada{
    color: #00b37e;
}

td.valorTransacaoSaida{
    color: #f75a68;
}






